* {
    box-sizing: border-box;
}

body {
    background-color: rgb(11, 11, 11);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    overflow-x: hidden;
}

.wrapper {
    background: #1F2937;
    color: white;
    font-family: sans-serif;
    padding: 50px;
    border-radius: 15px;
    margin-top: 80px;
}

h1 span {
    color: #10B981;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.4rem;
}

button {
    font-size: 1.3rem;
    color: white;
    background-color: #10B981;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 250px;
    cursor: pointer;
}

hr {
    margin: 60px 0;
    color: rgba(141, 137, 137, 0.174);
}

.password-container {
    display: flex;
    gap: 20px;
}
.password-container span {
    background-color: #273549;
    height: 40px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #55F991;
    font-size: 1.2rem;
}